.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;

    & > h1 {
      margin: 0 0 20px 0;
    }
  }
}

.body {
  margin-top: 40px;
}
