:global(.pt-dark) .logo > span {
  color: #f5f8fa;
  margin-left: 10px;
}

:global(.pt-light) .logo > span {
  color: #182026;
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;

  & > img {
    height: 30px;
    width: 30px;
  }

  &:hover {
    text-decoration: none;
  }
}
