.wallet {
  position: relative;
  display: block;
  margin: 15px 0;

  & .control {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transition: 0.1s linear all;
  }

  &:hover {
    text-decoration: none;

    & .control {
      opacity: 1;
    }
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pic {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 20px;
  color: #bfccd6;
}

.balances {
  display: flex;
  align-items: center;
  margin: 0 -20px 0;

  & > h4,
  & > h6 {
    margin: 20px 20px 0;
  }
}
