.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 1023px) {
    flex-direction: column-reverse;
  }
}

.main {
  width: calc(100% - 350px - 40px);

  & > h1 {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 1023px) {
    width: 100%;
    margin-top: 40px;
  }
}

.sidebar {
  width: 350px;

  @media only screen and (max-width: 1023px) {
    width: 100%;
  }
}

.item {
  & > h2 {
    margin-bottom: 10px;
  }
}
